body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    font-family: "Tahoma";
    text-align: justify;
}

h1 {
    color: purple;
}

h3 {
    color: purple;
}

.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: -moz-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: -ms-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: -o-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: linear-gradient(to bottom, #ffffff, #cfcfcf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Tahoma";
  color: purple;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}


.btnright {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: -moz-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: -ms-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: -o-linear-gradient(top, #ffffff, #cfcfcf);
  background-image: linear-gradient(to bottom, #ffffff, #cfcfcf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Tahoma";
  color: purple;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;

}

.btnright:hover {
  text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
}
