body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    font-family: "Tahoma"
}

h1 {
    color: purple;
}

h3 {
    color: purple;
}
